body {
  background: #fffff0;
  margin:600px;
  color: #7a7a79
}

.Oscar {
    margin: 20px 0;
    font-family: Franklin Gothic, arial, sans-serif;
    font-weight: lighter;
    font-size: 36px;
    line-height: 1px;
    text-align: center;
    
}

.name {
    margin: 20px;
    font-family: Franklin Gothic, arial, sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1px;
    text-align: center;
    
}

.summarypro {
  padding:10px;
  font-family: Times, serif;
  font-style:italic;
  border-top:5px dotted; 
}


ul{
  list-style-type: circle;
}

li {
  color:#7a7a79; 
  font-family:Franklin Gothic, arial, sans-serif;
  font-size:14px;
  line-height: 1.6;
 
}

h4, h5{
  display:inline;}


.skills{
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
}
  


.work{
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
}

h4 {
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
}


.Liberty1{
  margin:20px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  
  
}

.Liberty2{
  margin:20px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  
}

.Liberty3{
  margin:20px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  
}


h5 {
  text-transform:uppercase;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: bold;
  
}



p{
  
  max-width: 800px;
  
  
}

li {
  max-width: 800px;
}



